@import "bootstrap";

.navbar {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 200;
    background-color: rgb(148, 148, 148);
    box-shadow: 0px 1px 3px #2a2a2a;
    background: image_url('dust_scratches.png');
}

.navbar-brand  {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 100;
}

.hero   {
    background: image_url('hero.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 370px;
    box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
    margin: 0;
}

.frosty {
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 15px;
}

.frosty h1  {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 100;
    text-shadow: rbga (0, 0, 0, 0.95) 1px 1px;
}

.frosty h2  {
    font-family: "Helvetica Neue", Helvetica;
    font-weight: 200;
    text-shadow: rgba (0, 0, 0, 0.95) 1px 1px;
}

.btn    {
    border-radius: 11px;
}

.feature    {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
}

body    {
    background: image_url('vintage-concrete.png');
    font-family: 'Hind Guntur', sans-serif;
    font-weight: 400;
}

.clear  {
    clear: both;
}

.search-box {
    margin: 2em;
}

.booyah-box {
    -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
    -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
    box-shadow: 1px 1px 2px 0 #d0d0d0;
    background: #fff;
    border: 1px solid #ccc;
    border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
    padding: 10px;
    margin-top: 10px;
    border-radius: 15px;
}

.booyah-box h2, .booyah-box h1  {
    margin: 10px;
}
